<div class="top-bar">

  <div class="view-buttons">
    <button id="cardView">Cards</button>
    <button id="tableView">Table</button>
    <button id="mapView">Map</button>
  </div>

  <div class="sort-box">
    <label for="sort">Sort by:</label>
    <select id="sort">
      <option value="relevance">Relevance</option>
      <option value="deadline">Deadline</option>
      <option value="funding">Funding</option>
      <option value="country">Country</option>
    </select>
  </div>

</div>

<div id="scholarships" class="cards">
</div>
<div>
  <button class="but7">Load more</button>
</div>